/* ============================================================================================== */
/* Reset Styles                                                                                   */
/* ============================================================================================== */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /*outline: 1px solid red;*/
}

/* ============================================================================================== */
/* Base Typographic Styles                                                                        */
/* ============================================================================================== */

body {
  font-size: 100%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

small {
  font-size: 80%;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  text-rendering: optimizelegibility;
}

ul,
ol {
  padding: 0;
  /*margin: 0 0 0 1em;*/
  margin:0;
  list-style-type: none;
}

ul ul,
ol ul {
  margin-bottom: 0;
}

li {

}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}



/* ============================================================================================== */
/* Demo Styles - Do most of your work here.                                                       */
/* ============================================================================================== */

.contain {
  padding: 0 1em;
  max-width: 60rem;
  margin: 0 auto;
}

article {
  overflow-x:hidden;
}

section {
  margin-bottom: 3.375rem; 
  margin-top: 1.6875rem;
  padding: 5.0625rem 0 3.375rem 0; 
}

section:nth-child(even) {
  background: #ff3333;
}

header {
  background: url('../img/Cornwall_103.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 45% 30%;
  padding:4.75rem 0;
}

.header-inner {
  text-align: center;
  color:#fff;
  margin:0 auto;
}

h1 {
  font-weight: 800;
  font-family: "jaf-lapture-display";
  margin:0 auto;
  font-size: 4.75rem;  
  line-height: 5.0625rem;  
  margin-bottom: 1.6875rem;  
}

h2 {
  margin:0 auto;
  color: #FF3333;
  font-family: "prenton";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.9375rem;  
  line-height: 5.0625rem;  
  margin-top: -3.375rem; 
  margin-bottom: 1.6875rem; 
}

h3 {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 800;
  text-align: left;
  font-size: 1.8125rem;  
  line-height: 3.375rem;  
  margin-bottom: 0.84375rem;
  font-family: "prenton";  
}

h4 {
  font-weight: 300;
  font-size: 1.8125rem;    /* 18px */ 
  line-height: 2.25rem; 
  margin-top: 1.6875rem; 
  font-family: "prenton";
}

h5 {
  font-style: italic;
  font-family: "jaf-lapture";
  font-size: 1.8125rem;  /* 18px */ 
  line-height: 1.6875rem;  
  margin-bottom: 1.6875rem;
  font-weight: lighter;
  margin-top: 3.375rem;  
}


p {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  color:#222;
  font-weight: 300;
  font-family: "jaf-lapture";
  font-size: 1.125rem;  /* 18px */
  line-height: 1.6875rem; /* 27px */
  margin-bottom: 1.6875rem; 
}


.toc-level-1 a {
  color: white;
  font-family: "prenton";
  opacity: 1;
  text-decoration: none;
}

.toc-level-2 {
  border: none;
  background: none;
  margin-top: -1.6875rem;
}

.sub-nav {
  margin-top: 1.6875rem;
}

li.toc-level-2 a:hover {
  color:#FF3333;
}

li.toc-level-2 a {
  font-size: 1.125rem;
  text-transform: none;
}


footer {
  background: #FF3333;
}

footer li {
  text-align: left;
  padding: .8em 0 .4em 0;
  font-family: 'jaf-lapture';
  font-style: italic;
}

footer small {
  display: none;
}

nav {
  text-align: center;
  margin: 0 auto;
}

nav li {
  text-align: left;
  font-size: 1.8125rem; /* 29px */
  background: #FF3333;
  border: 1px solid white;
  padding-top: 0.84375rem; /* 27px */
  padding-bottom: 0.84375rem; /* 27px */
  font-weight: 500;
  font-family: 'jaf-lapture';
  text-transform: uppercase;
}

.nested-nav li {
  font-weight: bold;
  font-size: 1.125rem;  /* 18px */
  line-height: 1.6875rem; /* 27px */
  margin-bottom: 1.6875rem; /* 13.5px */
  margin-left: 0.84375rem;
  font-family: 'jaf-lapture';
  font-style: italic;
  list-style-type: disc;
}

/*.column .sub-nav {
  display: none;
}

.column .visible {
  display: block;
}
*/

.sub-head {
  color:#fff;
  text-decoration: none;
}

hr {
  width: 12%;
  margin: 0 auto;
}

figure {
  position: relative;
  margin-bottom: 1.6875rem;
  margin-top: 0.84375rem;
}

figcaption {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  color:#fff;
  font-style: italic;
}

figcaption a {
  text-decoration: none;
  color: #fff;
}


/* ============================================================================================== */
/* Media Queries                                                                                  */
/* ============================================================================================== */

/* Small screens (default) */
html { font-size: 100%;
}
 

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { 
    /*font-size: 112%;*/ 
  }

   .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { 
    width: 100%; 
  }

  .column.two-thirds { 
    width: 66.7%; 
  }

  .column.half { 
    width: 50%; 
  }

  .column.third { 
    width: 33.3%; 
  }

  .column.fourth { 
    width: 25%; 
  }

  .column.flow-opposite { 
    float: right; 
  } 

  p {
    line-height: 1.5;
  }

  header {
    height: 100vh;
  }

  .header-inner {
    height: 300px;
    width: 400px;
    position:absolute;
    left:61%;
    top:35%;
    margin:-150px 0 0 -400px;
  }

  h1 {
    font-size: 11.6rem;
    line-height: 11.75rem;  
  }

  h2 {
    text-align: center;
  }

  h3 {
    border-right:2px solid #ededed;
    padding-right: 1.6875rem;
  }

  h5 {
    font-size: 1.8125rem; 
    font-weight: lighter;
    margin-top: 0;
  }

  nav li {
    float: left;
    margin-left: 3.9rem;
    padding: 0;
    border: none;
    font-size: 1.125rem;
  }

  .table-of-contents ul {
    margin-left: 10.5rem;
  }

  li.toc-level-1 {
    background: none;
  }

  li.toc-level-1 a {
    color: #cfcfcf;
    font-weight: 100;
  }

  li.toc-level-1 a:hover {
    color: #ff3333;
  }

  .images {
    
  }

  figure {
     
  }
  
  figcaption {
    right: 10%;
  }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { 
    /*font-size: 120%;*/ 
    }
}




/* Clearfix class =============================================================================== */
.clearfix { 
  *zoom: 1; 
}

.clearfix:before, .clearfix:after { 
  content: " "; 
  display: table; 
}

.clearfix:after { 
  clear: both; 
}