/* ============================================================================================== */
/* Reset Styles                                                                                   */
/* ============================================================================================== */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /*outline: 1px solid red;*/
}

/* ============================================================================================== */
/* Base Typographic Styles                                                                        */
/* ============================================================================================== */

body {
  font-size: 100%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

small {
  font-size: 80%;
}

a {
  color: #FF3333;
  text-decoration: none;
  opacity: .7;
}

a:hover {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  text-rendering: optimizelegibility;
}

ul,
ol {
  padding: 0;
  /*margin: 0 0 0 1em;*/
  margin:0;
  list-style-type: none;
}

ul ul,
ol ul {
  margin-bottom: 0;
}

li {

}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}



/* ============================================================================================== */
/* Demo Styles - Do most of your work here.                                                       */
/* ============================================================================================== */

.contain {
  padding:0 3em;
}

article {
  margin:0 auto;
  background: #fff;
  overflow-x:hidden;
}

section {

}

header {
background: url('../img/Cornwall_103.jpg') no-repeat fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding:7em 0;
background-position: 0 30%;
}

.header-inner {
  text-align: center;
  color:#fff;
  margin:0 auto;
}

h1 {
  font-weight: 300;
  font-family: "jaf-lapture-display";
  border-bottom:1px solid #fff;
  margin:0 auto;

  font-size: 7rem;
}

h2 {
  margin:0 auto;
  color: #FF3333;
  font-family: "prenton";
  text-transform: uppercase;
  font-weight: 800;
  
  font-size: 4.5rem;
}

h3 {
  font-family: "prenton";
  text-transform: uppercase;
  color: #FF3333;
  border-right:2px solid #ededed;
  font-weight: 800;
  text-align: left;

  font-size: 3.5rem;
}

h4 {
  text-transform:uppercase;
  opacity: .8;
  font-weight: 800;

  font-size: 2.25rem;
}

h5 {
  font-style: italic;
  font-family: "jaf-lapture";
  padding:.5em 0;

  font-size: 1.75rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  color:#222;
  font-weight: 300;
  font-family: "jaf-lapture";
  font-size: 1.125rem;
  line-height: 1.5;
}

.toc-level-1 a {
  color:#222;
  font-family: "prenton";
  font-variant: small-caps;
}

figure {

}

footer {
  background: yellow;
}

footer li {
  text-align: left;
  padding: .8em 0 .4em 0;
  font-family: 'jaf-lapture';
  font-style: italic;
}

nav {
text-align: center;
margin: 0 auto;
}

nav li {
  float: left;
}

.nested-nav li {
  color:grey;
  font-style: italic;
}


.images {

  }

.column .sub-nav {
  display: none;
}

.column .visible {
  display: block;
}

#sculpture {
  background: url('../img/downchev.png') center center no-repeat;
  background-position: 590px 15px;
}

#midland-hotel-morecambe{
  background: url('../img/downchev.png') center center no-repeat;
  background-position: 475px 15px;
}

#typefaces-and-inscriptions {
  background: url('../img/downchev.png') center center no-repeat;
  background-position: 475px 15px;
}

#published-writings {
  background: url('../img/downchev.png') center center no-repeat;
  background-position: 340px 15px;
}

#contributions {
  background: url('../img/downchev.png') center center no-repeat;
  background-position: 240px 15px;
}


/* ============================================================================================== */
/* Media Queries                                                                                  */
/* ============================================================================================== */

/* Small screens (default) */
html { font-size: 100%;
}
 

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { 
    /*font-size: 112%;*/ 
  }

   .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { 
    width: 100%; 
  }

  .column.two-thirds { 
    width: 66.7%; 
  }

  .column.half { 
    width: 50%; 
  }

  .column.third { 
    width: 33.3%; 
  }

  .column.fourth { 
    width: 25%; 
  }

  .column.flow-opposite { 
    float: right; 
  } 

  p {
    line-height: 1.6;
  } 
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { 
    /*font-size: 120%;*/ 
    }
}




/* Clearfix class =============================================================================== */
.clearfix { 
  *zoom: 1; 
}

.clearfix:before, .clearfix:after { 
  content: " "; 
  display: table; 
}

.clearfix:after { 
  clear: both; 
}